{% extends 'myAdminVenteApp/base.htm' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}

<h1>  {% blocktrans %}Editer/gerer{% endblocktrans %} </h1>



<div class="w3-row-padding">
<br>
		<div class="w3-col  w3-card-2 w3-container w3-white">
			<div>
			{% if lang == 'fr' %}
						       {{vente.categorie.nom}} / {{vente.lieux.nom }}
						   {% else %}
						       {{vente.categorie.nom_ar}} / {{vente.lieux.nom_ar }}
						   {% endif %}
			</div>
			<div style="text-align:center;">{{ vente.desc }}</div>

			<div style="text-align:center;">
				<div>
					<sup>
						{% trans "loyer mensuelle" %}
					</sup>
					<b style="font-size:30px;">
						{{vente.prix|intcomma}}
					</b>
					<sub>
						<small>
							{% trans  "ancien ouguiya" %}
						</small>
					</sub>
				</div>
			</div>

</div>
		<!-- start col img -->

{% if vente.images.count > 0 %}
{% for img in vente.images.all %}
<div class="w3-row-padding"><br>
	<div class="w3-white w3-center w3-col   w3-card-2 "  >
		<img src="{{ img.img.url }}" alt="img" width="80%" /> <br>
	</div>
 
</div>
{% endfor %}
{% endif %}

{% include 'myAdminVenteApp/locations/links/decision.html' %}

{% endblock %}